@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 100; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); }
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 900; src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); }

/*
  Css Name : main.css
  Description : 메인 CSS
  Modification Information

      수정일        수정자          수정내용
     ----------    --------    ---------------------------
     2011.09.26    	구지연          최초 생성
     2016.10.14     장동한          v3.6작업
     

    author   : 공통컴포넌트 개발팀 구지연
    since    : 2011.09.26
*/
html,body{font-family: "Noto Sans KR", sans-serif; font-size:14px;height:auto;}

* { margin: 0; padding: 0; border: 0; }
ol, ul, li {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.3s ease-out;
}

/* reset */
frameset, frame, p, div  { margin:0; padding:0; border:0; }

div,table,form,fieldset,p,th,td,input,textarea,select,button { 
	font-family:  'Noto Sans KR', 'AppleGothic', 'sans-serif'; font-size: 14px; color: #666; }

.top_logo_title {float: left;font-size: 18px;font-weight: bold;color:#ffffff;padding: 15px 0px;}
.top_title_strong { font-weight: bold;}
		
#header { position: relative; width: 100%; height: 60px;    background: #266089; }
	.header_box {  }
	.header_box li {float: left; }
	.header_box li:last-child  {border-right:none;    border-left: 1px solid #45769a;}
	.header_box li h1 { float: left; padding:10px 15px;}
	/* .header_box li h1:after { content: ""; border-right: 1px solid #8facc0;     margin: 0 20px;} */
	.header_box li p { margin-top: 2px; color: #333; font-size: 13px; font-weight: bold; }
	
	.header_box li.header_quickmenu { float: right;}
	.header_box li.header_quickmenu div {
	display: inline-block;
    color: #ffffff;
    padding: 0px 15px;
    height: 60px;
    line-height: 61px;
    border-right: 1px solid #45769a;
    font-size: 95%;
    }
    .header_box li.header_quickmenu div img {vertical-align: middle; margin:0px 5px;}
    .header_box li.header_quickmenu div:last-child  {border-right:none;}
    .header_box li.header_quickmenu div span {
    border-radius: 20px;
    padding: 3px 35px 3px 15px;
    background: #184869 url(/images/egovframework/com/cmm/main/ic_link.png) no-repeat 85% center;
    cursor: pointer;
    color: #ffffff;
    }    
    .quickmenu_down {background: #1572b2 url(/images/egovframework/com/cmm/main/ic_down.png) no-repeat 90% center !important;}
    .header_box li.header_quickmenu div span:hover, .quickmenu_down:hover {background-color: #c73983 !important;} 

#container { position: absolute; width: 100%; top: 110px; left: 0; right: 0; bottom: 65px; }
	#lnb { position: absolute; top: 0; left: 0px; bottom: 0; width: 95%; border-right: 1px solid #eeeeee; background: #f7f7f7; overflow-y: auto; min-width: 245px;}
		ul.lnb_title { margin-left: 0px;  background: #f7f7f7;}
		ul.lnb_title > li a { 
		padding: 10px 4px 10px 15px;
	    background:#f7f7f7 url(/images/egovframework/com/cmm/main/ic_leftmenu_arrow.png)no-repeat right 10px center;
	    clear: both;
	    width: 91%;
	    display: inline-block;
	    border-bottom: 1px solid #eeeeee;
	    font-weight: bold;
    	}
    	ul.lnb_title > li a:hover {background:#4383b1 url(/images/egovframework/com/cmm/main/ic_leftmenu_arrow.png)no-repeat right 10px center; color: #ffffff  !important;}
		ul.lnb_title > li:last-child { padding-bottom: 0; border-bottom: 0; }
		ul.lnb_title > li a.noicon {background:#f7f7f7 !important;}
		
		.left_title_strong { color: #4c4c4c; font-size: 14px; font-weight: bold; }		
		ul.lnb_title > li { content: "˙"; padding-right: 0px;}
		ul.lnb_title > li > ul { padding-top: 0px; width: 100%;}
		ul.lnb_title > li > ul > li { margin-top: 0px; }		
		ul.lnb_title > li > ul > li a {background: #eeeeee;padding: 7px 5px 7px 15px;font-weight:normal !important; font-size: 95%;}
		ul.lnb_title > li > ul > li a::before {content:"·"; margin-right: 5px;}
		ul.lnb_title > li > ul > li a:hover {background: #4383b1  !important; color: #ffffff  !important;}
		ul.lnb_title > li > ul > li:hover{ color: #ffffff  !important; font-weight: bold; }
		ul.lnb_title > li a.noicon:hover {color: #ffffff !important;  font-weight: bold; background: #4383b1 !important;}
		ul.lnb_title > li > ul .2depth  {padding: 10px 5px;background: #f7f7f7;}
		
	#contents { position: absolute; left: 300px; top: 25px; right: 0; bottom: 0; overflow-y: auto; }

#footer { position: relative; bottom: 0; width: 100%; height: 45px; background: #d3d3d3; display: none;}
#footer p { color: #555; font-size: 14px; font-weight: bold; text-align: center; margin-top: 17px; }
#footer div {margin-top:12px; text-align: center;width:100%; }
	.footer_title_strong { color: #666; font-size: 17px; font-weight: bold; }

a.link { color: #666; text-decoration: none; font-weight: normal;}
a.link:hover { color: #000000; text-decoration: none; font-weight: bold;}
a, button, input[type="button"] { cursor: pointer; }


/* 데쉬보드 CSS */ 
	.dash_title { padding: 10px 4px 10px 15px;border-bottom: 1px solid #eeeeee;    font-weight: bold; }
	.dash_title span {background: url(/images/egovframework/com/cmm/main/ic_title01.png) no-repeat left center; margin-right: 5px; padding-left: 20px;}
	.dash_subtitle {font-weight: bold; margin-bottom: 10px;}
	
	.dashboard_box1 {float: left; width: 65%;}	
	.dashboard_box1  li { 
		display: inline-block;
		width: 12.6%;
		background: #6194b1;
		vertical-align: middle;
		padding: 10px;
		height: 114px;
		margin-bottom: 10px;
		color: #ffffff !important;
		text-align: center;
		margin: 0 10px 10px 0;	
		cursor: pointer;	
	}
	.dashboard_box1  li:nth-child(6), .dashboard_box1  li:nth-child(12) {  margin: 0 0px 10px 0;}
	/* .dashboard_box1  li:last-child {margin: 0 0px 0 0;		} */
	.dashboard_box1 .circle {
		position: relative;
		background-color: #ffffff;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		text-align: center;
		font-size: 30px !important;
		vertical-align: middle;
		line-height: 75px;
		color: #6194b1;
		font-weight: normal;
		margin: 5px auto;
		margin-bottom: 10px;
	}
	.circle_bg1 {
		background: #cf7aa4 !important;
		color: #cf7aa4 !important;
	}
	.circle_bg2 {
		background: #3081af !important;
		color: #ffffff !important;
	}
	.circle_bg2 img { margin-top: 20px;  margin-bottom: 15px;}
	
	.dashboard_box2 {float: left; width: 35%;}
	.dashboard_box3 {float: left; width: 49%; margin-top: 10px; padding-right: 10px;}
	.dashboard_box4 {float: right; width: 50%; margin-top: 10px;}
	.dashboard_box5 {float: right; width: 100%; margin-top: 10px;}
	
	.btn_more {    
		border: 1px solid #d8d8d8;
	    background: #ffffff;
	    padding: 3px 8px;
	    font-size: 20px;
	    line-height: 18px;
	    float: right;
	    cursor: pointer;
	 }	
	 .btn_more:hover {border: 1px solid #266089; color:#266089;}

@media all and (max-width: 1420px){
	.top_logo_title { display: none;}
	}
	
@media all and (max-width: 1250px){
	.dashboard_box1, .dashboard_box2, .dashboard_box3, .dashboard_box4 {float: none; width: 100%;}
	.dashboard_box1 li { width: 13.8%;}
}

@media all and (max-width: 1120px){
	.dashboard_box1 li { width: 30%;}
}

